.make-section-row{
    display: flex;
    flex-direction: row;
    margin-top:100px;
}
.farmerBG {
    background-image: url("../images/farmer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  .section2Heading {
    font-family: "Mondia";
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  .section5Paragraph {
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #F1F1F1;
  }
  .before-footer-btn{
    background-color: #FDE9B0;
    font-family: "Manrope";
font-size: 14px;
font-weight: 700;
line-height: 14px;
color:#303030;
text-align: left;
padding: 18px 36px;
border: none;

}
.section5Paragraph {
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #F1F1F1;
  }
  .download-guide-but {
    border: 1px solid #303030;
    padding: 18px 36px;
    font-family: " Manrope";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #303030;
    background-color: transparent;
    margin-top:30px;
}
@media only screen and (max-width: 800px) {
  .make-section-row{
    display: flex;
    flex-direction: column;
    margin-top:100px;
}
}