.footerDiv {
    background-color: #303030;
}

.set-form-field-footer>.footerForm{
width: 180% !important;
}
.marg-top-foot-100{
    margin-top:60px !important;
}
button.submitBtn.btn.btn-primary {
    background-color: #D1D1D1;
    color: black !important;
    padding: 12px 36px !important;
    border-radius: unset;
    border: none;
    margin-top: 20px;}
    .marg-top-120{
        margin-top: 5% !important;
    }
@media only screen and (max-width: 1000px) { 
    .footerForm {
        width: 100%;
    }
    .copyright {
        text-align: center !important;
    }
    .copyright-left{
        text-align: center !important ;
    }
}

.footerForm {
    width: 100%;
}

.footerCol1Heading {
    font-family: "Mondia";
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;
}

.footerCol1Paragraph {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;
}

.socialMedia {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;
    margin-top:60px !important;
}
.set-social-icons{
    margin-top: 50px !important;
}
.copyright {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #D1D1D1;
}
.copyright-left{
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: right;
    color: #D1D1D1;
}
.footerCol2Heading {
    font-family: "Manrope";
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;
}

.submitBtn {
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #D1D1D1;
    color: #323232;
}